---
interface Props {
  base: string;
}
const { base } = Astro.props;
const b = base.endsWith('/') ? base.slice(0, -1) : base;
---
<nav class="site-nav" aria-label="Navegação principal">
  <ul>
    <li><a href={`${b}/sobre`}>Sobre</a></li>
    <li><a href={`${b}/agenda`}>Agenda</a></li>
    <li><a href={`${b}/eventos-promovidos`}>Eventos Promovidos</a></li>
    <li><a href={`${b}/confabulacoes`}>Confabulações Rousseauistas</a></li>
    <li class="has-dropdown">
      <a href={`${b}/atelie`} aria-haspopup="true" aria-expanded="false">
        Ateliê de Pesquisa
      </a>
      <ul class="dropdown" role="menu">
        <li role="none">
          <a href={`${b}/atelie/segundo`} role="menuitem">2º Ateliê de Pesquisa</a>
        </li>
        <li role="none">
          <a href={`${b}/atelie/anteriores`} role="menuitem">Edições Anteriores</a>
        </li>
      </ul>
    </li>
    <li><a href={`${b}/polietica`}>Poliética</a></li>
    <li><a href={`${b}/membros`}>Membros</a></li>
    <li><a href={`${b}/fale-conosco`}>Fale Conosco</a></li>
  </ul>
</nav>
